<p id="notice"><%= notice %></p>

<p>
  <strong>Spot:</strong>
  <%= @wifispot.spot_id %>
</p>

<p>
  <strong>Name jp:</strong>
  <%= @wifispot.name_jp %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @wifispot.name_en %>
</p>

<p>
  <strong>Status:</strong>
  <%= @wifispot.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @wifispot.category %>
</p>

<p>
  <strong>Usable place:</strong>
  <%= @wifispot.usable_place %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @wifispot.postcode %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @wifispot.prefecture %>
</p>

<p>
  <strong>Address jp:</strong>
  <%= @wifispot.address_jp %>
</p>

<p>
  <strong>Address en:</strong>
  <%= @wifispot.address_en %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @wifispot.tel %>
</p>

<p>
  <strong>Open time:</strong>
  <%= @wifispot.open_time %>
</p>

<p>
  <strong>Ssid:</strong>
  <%= @wifispot.ssid %>
</p>

<p>
  <strong>Usable time:</strong>
  <%= @wifispot.usable_time %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @wifispot.procedure %>
</p>

<p>
  <strong>Lang support:</strong>
  <%= @wifispot.lang_support %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @wifispot.languages %>
</p>

<p>
  <strong>Url:</strong>
  <%= @wifispot.url %>
</p>

<p>
  <strong>Y coord:</strong>
  <%= @wifispot.y_coord %>
</p>

<p>
  <strong>X coord:</strong>
  <%= @wifispot.x_coord %>
</p>

<p>
  <strong>Place code:</strong>
  <%= @wifispot.place_code %>
</p>

<%= link_to 'Edit', edit_wifispot_path(@wifispot) %> |
<%= link_to 'Back', wifispots_path %>
